NODE_ENV=development
PORT=3000

# PostgreSQL local hoặc dịch vụ PostgreSQL bên ngoài
DATABASE_URL=postgresql://tip:tip_password@localhost:5432/tip_portal?schema=public
SHADOW_DATABASE_URL=postgresql://tip:tip_password@localhost:5432/tip_portal_shadow?schema=public

# Redis local hoặc dịch vụ Redis bên ngoài
REDIS_URL=redis://localhost:6379

# Lấy tại https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
