NODE_ENV=development
PORT=3000

# PostgreSQL local hoặc dịch vụ PostgreSQL bên ngoài
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
POSTGRES_DB=YOUR_DB_NAME
DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5433/YOUR_DB_NAME?schema=public
SHADOW_DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5433/YOUR_SHADOW_DB_NAME?schema=public

# Redis local hoặc dịch vụ Redis bên ngoài
REDIS_URL=redis://localhost:6379

# Lấy tại https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET

# JWT
JWT_SECRET=REPLACE_WITH_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=REPLACE_WITH_ANOTHER_LONG_RANDOM_SECRET
JWT_REFRESH_EXPIRES_IN=7d
