NODE_ENV=development
PORT=3000

# PostgreSQL local hoặc dịch vụ PostgreSQL bên ngoài
DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5432/YOUR_DB_NAME?schema=public
SHADOW_DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5432/YOUR_SHADOW_DB_NAME?schema=public

# Redis local hoặc dịch vụ Redis bên ngoài
REDIS_URL=redis://localhost:6379

# Lấy tại https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
